<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatihuaniApp"
        tools:targetApi="31">
        <activity
            android:name=".alvaro.ProgresoActivity"
            android:exported="false" />
        <activity
            android:name=".alvaro.MetasActivities"
            android:exported="false" />
        <activity
            android:name=".alvaro.LocationActivity"
            android:exported="false" />
        <activity
            android:name=".ActividadesComplementarias"
            android:exported="false" />
        <activity
            android:name=".EducacionNutricional"
            android:exported="false" />
        <activity
            android:name=".alternativasDietas"
            android:exported="false" />
        <activity
            android:name=".Navegacion"
            android:exported="false"
            android:label="@string/title_activity_navegacion"
            android:theme="@style/Theme.PatihuaniApp.NoActionBar" />
        <activity
            android:name=".DietaNueva"
            android:exported="false" />
        <activity
            android:name=".Caminar"
            android:exported="false" />
        <activity
            android:name=".Noticia"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false" />
        <activity
            android:name=".Registrar"
            android:exported="false" />
        <activity
            android:name=".Bienvenido"
            android:exported="false" />
        <activity
            android:name=".IniciarSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>